<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./Style.css">
  <title>Flixxit Admin Signup</title>
</head>
<body>
  <div class="container">
    <h1 id="signin-title">Flixxit Admin Signup</h1>
    <div id="signin-panel">
      <h3>instructions</h3>
      <form method="post" action="/admin/signup">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="E-Mail Address" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="cpassword" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</body>
</html>
