body {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

.container {
  position: relative;
  background-color: #fff;
  width: 500px;
  height: 80vh;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  left: 0px;
  right: 0px;
  margin: auto;
  margin-top: 50px;
}

#signin-title{
  font-weight: normal;
  border-bottom: 2px solid #e50914;
}

#signin-panel{
  position: relative;
  top: 6px;
  border-radius: 5px;
  height: 65vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
}

input {
  padding: 15px;
  margin: 10px;
  font-size: 1.3rem;
  width: 465px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.01);
  background-color: rgb(243, 243, 243);
  transition: background-color 500ms;
}

input:focus {
  background-color: rgb(245, 241, 255);
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 0.8rem;
  width: 150px;
  background-color: #e50914;
  color: #fff;
  border: none;
}

#signin-panel > h3 {
  font-weight: normal;
  position: relative;
  left: 10px;
}

@media (max-width: 820px) {
  .container {
    width: 90%; /* Reduce the width of the container on smaller screens */
  }

  input {
    width: 100%; /* Make the input fields take up the full width of the container */
  }
}
@media (max-width: 392px) {
  input {
    font-size: 1rem; /* Reduce the font size of the input fields on smaller screens */
  }

  button {
    font-size: 0.9rem; /* Reduce the font size of the button on smaller screens */
  }
}