.dashboard-component{
    min-height: 90vh;
}
.dashboard-container{
    margin-top: 75px;
    display: flex;
}
.dashboard-div {
    margin: 50px;
    width: 40vh;
  }
  .accountSettings {
    margin: 0px 0px 15px 0px;
    height: 45vh;
    border-right: 2px solid #343434;
  }
  .account-section {
    margin: 20px 0px 0px 10px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
  }
  .account-section i {
    margin-right: 20px;
    font-size: 20px;
    color: white;
  }
  .logged-in {
    background-color: rgb(20, 20, 20);
    margin-bottom: 15px;
    color: white;
  }
  .loggedinheading {
    display: flex;
    align-items: center;
    padding-left: 40px;
    height: 40px;
    background-color: rgb(20, 20, 20);
    font-weight: bold;
  }
  .addressInput {
    padding: 10px 0px 10px 20px;
  }
  .list {
   text-align: center;
  }
  .list ul li {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  .activeLink{
    text-decoration: none;
  }
  .activeLink li{
    text-decoration: none;
    color: #e50914;
    border-right: 2px solid #e50914;
  }
  .link {
    text-decoration: none;
    color: white;
  }
  .account-details {
    background-color: black;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
  }
  .table-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
  }
  @media (max-width: 820px) {
    .dashboard-div {
      width: 90%; /* Adjust the width of dashboard div on even smaller screens */
      margin: 20px auto; /* Center the dashboard div */
    }
    .account-section {
      font-size: 16px; 
      width: 100;/* Further reduce the font size of account sections */
      margin: 0;
      padding: 5px;
    }
  }
    
  @media (max-width: 392px) {
    .dashboard-div {
      width: 90%; /* Adjust the width of dashboard div on even smaller screens */
      margin: 20px auto; /* Center the dashboard div */
    }
    
    .account-section {
      font-size: 11px; /* Further reduce the font size of account sections */
    }
    
    .loggedinheading {
      padding-left: 15px; /* Further adjust the padding of loggedinheading */
    }
    
    .list ul li {
      font-size: 16px; /* Further reduce the font size of list items */
    }
    .table-container {
      font-size: 12px; /* Further reduce the font size for smaller screens */
    }
    .css-80pr5n-MuiPaper-root{
    width: 60vw;
    }
  }
  
  @media (max-width: 415px) {
    .dashboard-div {
      width: 90%; /* Adjust the width of dashboard div on even smaller screens */
      margin: 20px auto; /* Center the dashboard div */
    }
    
    .account-section {
      font-size: 11px; /* Further reduce the font size of account sections */
    }
    
    .loggedinheading {
      padding-left: 15px; /* Further adjust the padding of loggedinheading */
    }
    
    .list ul li {
      font-size: 16px; /* Further reduce the font size of list items */
    }
    .table-container {
      font-size: 12px; /* Further reduce the font size for smaller screens */
    }
    .css-80pr5n-MuiPaper-root{
    width: 60vw;
    }
  }
  
  
  
  
  
