.banner{
    height: 60vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.5rem;
    transition: 1s ease-out;
    overflow: hidden;
}
.banner h1{
    color: white;
    transition: all 0.5s; 
}
.banner-button{
    display: flex;
    padding: 20px 0px 60px 0px;
}
.banner-button button{
    height: 2.5rem;
    width: 8rem;
    color: white;
    background-color: #e50914;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.banner-button button i{
    padding-right: 10px;
}
.banner-button .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 0 0 0 15px;
    padding: 0 0 5px 0;
    height: 2.5rem;
    width: 3rem;
    background-color: rgba(0, 0, 0, 0.731);
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 392px) {
    .banner-button{
        display: flex;
        padding: 15px 0px 15px 0px;
    }
    .banner-button button i{
        padding-right: 5px;
    }
    .banner-button button{
        height: 2rem;
        width: 5rem;
        color: white;
        background-color: #e50914;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        cursor: pointer;
    }
    .banner-button .plus{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
        margin: 0 0 0 15px;
        padding: 0 0 5px 0;
        height: 2rem;
        width: 2.5rem;
        background-color: rgba(0, 0, 0, 0.731);
        border-radius: 8px;
        cursor: pointer;
    }
    .banner h1{
        color: white;
        transition: all 0.5s; 
        font-size: 18px;
    }
}

@media (max-width: 415px) {
    .banner-button{
        display: flex;
        padding: 15px 0px 15px 0px;
    }
    .banner-button button i{
        padding-right: 5px;
    }
    .banner-button button{
        height: 2;
        width: 5rem;
        color: white;
        background-color: #e50914;
        border: none;
        border-radius: 10px;
        font-size: 10px;
        cursor: pointer;
    }
    .banner-button .plus{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 15px;
        margin: 0 0 0 15px;
        padding: 0 0 5px 0;
        height: 2rem;
        width: 2.5rem;
        background-color: rgba(0, 0, 0, 0.731);
        border-radius: 8px;
        cursor: pointer;
    }
    .banner h1{
        color: white;
        transition: all 0.5s; 
        font-size: 18px;
    }
}